body {
    font-family: 'Poppins', sans-serif;
    background: url(portrait.jpg) no-repeat;
}

h5 {
    color: black;
}

.bio {
    overflow-wrap: break-word;
    width: 400px;
}

ul {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}

ul li:nth-child(odd) {
    background-color: #D3D3D3;
}

.left-container-p {
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
}

.bio-section {
    display: flex;
}

.edit-btn {
    object-fit: cover;
    align-self: center;
    cursor: pointer;
}

.right-container {
    height: 100vh;
    position: relative;
}

.logout {
    position: absolute;
    bottom: 0;
}

.image-editor{
    display: flex;
}

.edit-image{
    object-fit: cover;
    align-self: center;
    margin-top: 20px;
}

.circular-image {
    display: flex;
    border: 2px solid gray;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.circular-image img {
    max-width: 100%; 
    height: auto; 
}

.feature-card.course-list {
    height: 100vh;
    width: 250px;
}

.feature-card.course-detail {
    margin-left: 2%;
    width: 700px;
    height: 100vh;
}

.parent-container {
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
}

.profile-course-detail{
    color: grey;
}
.calendar-container {
    margin-left: 2%;
    text-align: center;
    width: 400px;
}

.calendar th {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ddd;
}

.calendar td {
    padding: 15px;
    border: 1px solid #ddd;
    vertical-align: top;
    background-color: white;
}

input[type="submit"] {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#logout:hover{
    background-color: #505050;
}

#profile-course-list li {
    cursor: pointer;
}

#profile-course-list li:hover{
    color: #0069d9;
}

#saveBtn {
    width: 100%;
    background-color: #0069d9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#saveBtn:hover{
    background-color: #0056b3;
}

#cancelBtn {
    width: 100%;
    background-color: gray;
    color: white;
    border: none;
    margin-left: 100px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#cancelBtn:hover{
    background-color: #505050;
}